//====================================================================================================
.wrapper {}

.page {

   // .page__container
   &__container {
      padding-top: rem(200);
      padding-bottom: rem(48);

      @media (max-width:$mobile) {
         padding-right: rem(20);
         padding-left: rem(20);
      }

   }

   // .page__cards
   &__cards {
      display: grid;
      gap: rem(30);
      grid-template-columns: repeat(3, 1fr);

      @media (max-width: em(1165)) {
         grid-template-columns: repeat(2, 1fr);
      }

      @media (max-width:$mobile) {
         grid-template-columns: repeat(1, 1fr);
      }

      // .page__card
      &__card {}
   }
}

//====================================================================================================